

.banner_section{
    background-image: url(./img/157264091_232546085207675_2351110429777586423_n.jpg);
    padding: 182px 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.header-L a {
    text-transform: full-width;
    text-decoration: none;
    padding: 7px 0;
    display: inline-block;
    font-size: 27px;
    font-weight: 600;
  }

nav{

}
nav ul{
    list-style: none;
    
    text-align: right;
}
nav ul li{
    display: inline-block;
}

nav ul li a{
    text-decoration: none;
    padding: 0 10px;
    text-transform: capitalize;
    color: black;
    font-size: 20px;
    font-weight: 200;
}

.middle{
    background-color: #f5f5f5;
}

.myButton {
	box-shadow:inset 0px 1px 0px 0px #3dc21b;
	background:linear-gradient(to bottom, #44c767 5%, #5cbf2a 100%);
	background-color:#44c767;
	border-radius:6px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:7px 47px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}

.banner_content h3,h1{
    color: #fff;
     margin-top: 10px;
}

.video_R h3{
    margin-top: 12px;
}